[run]
branch = True
cover_pylib = False
include =
    binlog/*
    .tox/*/binlog/*
omit = 
    binlog/oldversion/*
    binlog/binlog.py
    binlog/register.py

[path]
source = 
    binlog/*
    .tox/*/binlog
